.ap-sis {
	display: flex;
	flex-direction: column;
	justify-content: center;

	&-area {
		width: 90%;
		margin: 0 auto;

		@include above(1000px) {
			max-width: 960px;
		}
	}

	&-panel {
		padding: 1em;

		@include above(760px) {
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: space-between;
			padding: 2em 1em;
		}
	}

	&-data {
		transform: translateY(-10px);
		opacity: 0;
	}
}
.ap-hide {
	display: none;
}
