.ap {
	&-overlay {
		@include gradient(to left, $linGrad);
		display: none;
		color: #fff;
		height: 100%;
		position: fixed;
		top: 0;
		width: 100%;
		left: 0;
		z-index: 999999;
		overflow: auto;
		-webkit-overflow-scrolling: touch;

		.ap-btn-close {
			color: #fff;
			font-size: 1.2em;
			height: 2.6em;
			line-height: 1.5em;
			position: absolute;
			right: 1em;
			text-align: center;
			top: 1em;
			transition: 0.3s all;
			width: 2.6em;
			background: none;
			box-shadow: none;
			padding: 0.2em;

			@include above(760px) {
				right: 4em;
				top: 3em;
			}

			.icon {
				fill: #fff;
			}
		}
		.ap-tt,
		.ap-txt,
		.ap-ttt {
			font-family: $baseFont;
		}

		.ap-tt {
			font-size: 2.8em;
			text-align: center;
			&--day {
				font-size: 2.8em;
			}

			&:nth-child(2) {
				padding: 0.6em;
			}
		}

		.ap-ttt {
			font-size: 1.4em;
			text-align: center;
			padding: 0.2em;
		}

		.ap-txt {
			max-width: 11em;
			margin: 1em auto;
			font-size: 1.4em;
			text-align: center;
		}

		.ap-btn {
			margin: 0 auto;
		}
	}

	&-modal {
		&-flx {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			height: 100%;
			padding: 1em;
		}
		// Show
		&--is-visible {
			display: block;
		}

		// C Takeover
		&--home-loader {
			@include radial-gradient($centerBlue, $outsideBlue);

			.ap {
				&-c-sprite {
					position: absolute;
					z-index: 2;
					opacity: 0;
					transform: translateY(-50px);

					&--ready {
						background: url("../img/img-c-sprite.png") no-repeat;
					}

					@include below(760px) {
						background-position: 0 -11940px;
						background-size: 228px auto;
						width: 228px;
						height: 244px;
					}
					@include above(760px) {
						background-position: 0 -23457px;
						background-size: 448px auto;
						width: 446px;
						height: 476px;
					}

					&--animation {
						@include below(760px) {
							animation: c-animation 2.5s steps(49) forwards;
						}
						@include above(760px) {
							animation: c-animation-desk 2.5s steps(49) forwards;
						}
					}
				}

				&-brand {
					margin: 0 auto;
					position: relative;

					@include below(760px) {
						width: 228px;
						height: 244px;
					}
					@include above(760px) {
						width: 446px;
						height: 476px;
					}

					&-shadow {
						position: absolute;
						width: 80%;
						height: 4em;
						background-color: rgba(0, 0, 0, 0.5);
						border-radius: 18em;
						transform: scaleY(0);
						filter: blur(27.6px);
						bottom: -4em;
						transform-origin: center center;
						left: 50%;
						margin-left: -6.6em;
						opacity: 0;

						@include above(760px) {
							width: 60%;
						}
					}
				}

				&-white-snow {
					position: fixed;
					width: 100%;
					height: 100%;
					top: 0;
					left: 0;
					overflow: hidden;
				}

				&-txt {
					opacity: 0;
					transform: translateY(-50px);
				}
			}

			&--not {
				.ap-snow-falling {
					display: none;
				}
				.ap-txt {
					opacity: 1;
					transform: none;
				}
			}
		}
		&-takeover {
			position: relative;
		}

		// Global Loading
		&--loading {
			.ap-modal-flx {
				position: relative;
				z-index: 2;
			}
		}

		// &-login
		&--login {
			.ap-img-day-sponsor {
				max-width: 6em;
				margin: auto;

				@include below(340px) {
					max-width: 4em;
				}

				img {
					width: 100%;
				}

				&--long {
					max-width: 12em;
				}
			}
			.ap-flx {
				display: flex;
				flex-direction: row;
				justify-content: space-around;
				padding: 1em;
			}

			.ap-txt {
				font-size: 1.2em;
				max-width: 100%;
				margin: 0 auto;

				&:nth-child(2) {
					margin-bottom: 1em;
				}
			}

			.ap-login-tt {
				font-size: 1.5em;
			}

			.ap-modal-nav {
				@include above(760px) {
					max-width: 25em;
					margin: 0 auto;
				}
				.ap-btn {
					background: #fff;
					width: 7.4em;
					font-size: 1em;
					height: 7.4em;
					padding: 1em;

					&:first-child {
						margin-right: 2em;
					}
				}
			}

			.ap-overlay-area {
				@include below(760px) {
					padding-bottom: 14em;
				}
				@include below(320px) {
					padding-bottom: 10em;
				}
			}
		}
		&--login-error {
			.ap-modal-nav {
				margin: 2em auto;
			}

			&--not {
				.ap-txt {
					max-width: 32em;
				}
				.ap-btn {
					margin: 0 auto;
				}
			}
		}

		// Leave
		&--leave {
			.ap-txt {
				margin: 0.6em auto 1em;

				@include above(760px) {
					max-width: 13em;
				}
			}

			.ap-modal-nav {
				.ap-btn {
					margin: auto;

					@include below(760px) {
						max-width: 10em;
					}

					&:nth-child(2) {
						margin-top: 0.6em;
					}
				}
			}
		}

		// Flow
		&--error-flow {
			.ap-txt {
				max-width: 16em;
			}
			.ap-modal-nav {
				.ap-btn {
					margin: auto;
				}
			}
		}

		// Terms
		&--terms {
			.ap {
				&-modal {
					max-width: 85%;
					margin: 0 auto;

					@include above(760px) {
						max-width: 95%;
					}

					&-wrapp {
						@include above(760px) {
							max-width: 40em;
						}
					}
					&-terms-data {
						padding-right: 1em;
						font-size: 0.8em;

						@include above(760px) {
							padding-right: 1.8em;
							font-size: 1em;
						}

						p {
							color: #fff;
							padding-bottom: 0.6em;
							font-family: $readFont;

							a {
								color: #fff;
								text-decoration: underline;
							}
						}

						ul,
						ol {
							li {
								color: #fff;
								padding-bottom: 0.6em;

								a {
									color: #fff;
									text-decoration: underline;
								}
							}
						}
					}
				}
				&-scroll {
					height: calc(100vh - 20em);
					margin-top: 1em;

					@include above(360px) {
						height: calc(100vh - 30em);
					}

					@include above(760px) {
						height: calc(100vh - 20em);
					}
					@include above(1000px) {
						height: calc(100vh - 24em);
					}
				}
			}
		}

		// Instructions
		&--instructions {
			z-index: 999998;
			.ap {
				// &-tt,
				// &-ttt,
				// &-txt,
				// &-inst-img,
				// &-play-btn {
				// 	// opacity: 0;
				// 	// transition: 0.4s ease-in-out;
				// 	// transform: translateY(-0.6em);
				// }

				&-found {
					&-img {
						background-color: rgba(0, 0, 0, 0.2);
						padding: 1em;
						display: flex;
						justify-content: center;
						width: 14.4em;
						margin: 0 auto;
						height: 14.4em;
						flex-direction: row;

						@include below(760px) {
							flex-wrap: wrap;
						}
						@include above(760px) {
							height: 5.2em;
						}
					}
					&-item {
						background-color: rgba(255, 255, 255, 0.5);
						width: 5em;
						height: 5em;
						margin: 0.6em;

						@include above(760px) {
							font-size: 0.5em;
						}

						&--red {
							background-image: linear-gradient(
								to right,
								$baseLgt,
								$base,
								#ff4c76
							);
							border-radius: 0.6em;
						}
					}
				}

				&-txt {
					max-width: 24em;
					text-align: center;
					font-size: 0.9em;
					font-family: $readFont;
				}

				&-modal-nav {
					padding: 1em;
					.ap-btn {
						margin: 0 auto;
					}
				}
				&-inst-img {
					max-width: 22em;
					margin: 1em auto;
					img {
						width: 100%;
					}

					@include above(760px) {
						max-width: 16em;
					}
				}
			}
		}
		// Custom instructions
		&--EncuentraError {
			.ap-modal-flx {
				overflow: auto;
				@include below(340px) {
					padding-top: 24em;
				}
				@include above(350px) {
					padding-top: 14em;
				}
				/* iphone 8, 7, 6 */
				@media only screen and (min-width: 370px) and (max-width: 554px) and (orientation: portrait) {
					padding-top: 12em;
					min-height: inherit;
				}
				/* iphone X */
				@media only screen and (max-width: 375px) and (min-height: 630px) and (orientation: portrait) {
					padding-top: 6em;
					min-height: inherit;
				}
				@include above(760px) {
					padding-top: 0;
				}
			}
		}
		&--Rompecabezas {
			.ap-modal-flx {
				overflow: auto;
				@include below(340px) {
					padding-top: 20em;
				}
				@include above(350px) {
					padding-top: 12em;
				}
				/* iphone 8, 7, 6 */
				@media only screen and (min-width: 370px) and (max-width: 554px) and (orientation: portrait) {
					padding-top: 12em;
					min-height: inherit;
				}
				/* iphone X */
				@media only screen and (max-width: 375px) and (min-height: 630px) and (orientation: portrait) {
					padding-top: 6em;
					min-height: inherit;
				}
				@include above(760px) {
					padding-top: 0;
				}
			}
		}

		// Holdon
		&--holdon {
			.ap {
				&-hold {
					&-info {
						color: #fff;

						.ap-txt {
							max-width: 32em;
							max-width: 0 auto;
						}
					}
				}
				&-modal {
					display: flex;
					flex-direction: column;
					justify-content: center;
					height: calc(100vh - 14.6em);
				}
			}
		}

		// Landscape
		&--landscape {
			display: none;
			@include horizontal-gradient($topBlue, $botBlue);
			z-index: 999999999;

			@media only screen and (min-width: 480px) and (max-height: 480px) and (max-width: 896px) and (orientation: landscape) {
				display: block;
			}
			.ap-overlay-area {
				align-items: center;
				display: flex;
				flex-direction: column;
				height: 100%;
				justify-content: center;

				.ap-tt {
					margin: 0 auto;
					width: 12em;
					height: 5em;

					&-txt {
						font-weight: 300;
						letter-spacing: 0.9em;
					}
				}
				.ap-logo-svg {
					width: 100%;
				}
			}

			.ap-duend-landscape {
				width: 3em;
				height: 3em;
				margin: 0 auto 0.6em;
				border: 2px solid #fff;
				overflow: hidden;
				border-radius: 10em;
				font-size: 2.5em;

				.cls-1 {
					fill: #2d368f;
				}
				.cls-2 {
					fill: url(#Degradado_sin_nombre_2);
				}
				.cls-3 {
					fill: #28abe2;
				}
				.cls-4 {
					fill: url(#Degradado_sin_nombre_2-2);
				}
				.cls-5 {
					fill: #1c94d2;
				}
				.cls-6 {
					fill: #fdd4bc;
				}
				.cls-7 {
					fill: #fab68a;
				}
				.cls-10,
				.cls-18,
				.cls-19,
				.cls-8 {
					opacity: 0.3;
					isolation: isolate;
				}
				.cls-8 {
					fill: url(#Degradado_sin_nombre_4);
				}
				.cls-9 {
					fill: #fdd9c5;
				}
				.cls-10 {
					fill: url(#Degradado_sin_nombre_4-2);
				}
				.cls-11 {
					fill: #ea2128;
				}
				.cls-12 {
					fill: #fff;
				}
				.cls-13,
				.cls-18 {
					fill: #6c1a21;
				}
				.cls-14 {
					fill: #ec3e58;
				}
				.cls-15 {
					fill: #76b743;
				}
				.cls-16 {
					fill: #80ae41;
				}
				.cls-17 {
					fill: #ce202a;
				}
				.cls-19 {
					fill: #b75836;
				}
				.cls-20 {
					fill: #7f5e2c;
				}
			}
		}
	}

	// Home
	&--is-home {
		.ap-modal--loading {
			opacity: 0;
			display: none;
		}
	}
}
.ap-duendepolito {
	pointer-events: none;
	@include below(760px) {
		position: absolute;
		bottom: 0;
		width: 100%;
		left: 0;
	}

	.ap-duend {
		width: 10em;
		height: 10em;
		margin: auto;
		font-size: 2em;

		@include below(340px) {
			font-size: 1.5em;
		}

		@include below(760px) {
			transform: translateY(0.5em);
		}
	}
}

@keyframes c-animation {
	0% {
		background-position: 0 -11940px;
	}
	100% {
		background-position: 0 0;
	}
}
@keyframes c-animation-desk {
	0% {
		background-position: 0 -23457px;
	}
	100% {
		background-position: 0 0;
	}
}
