head
	meta(http-equiv="Content-Type", content="text/html charset=utf-8")
	meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover")
	meta(name="description", content="Sistema de Horarios")
	meta(name="author", content="IA Interactive")
	title Sistema de Horarios

	script.
		var $usrSisEntry = "08:58:35";
		var resourcesPath = '';
		var resourcesVersion = '?=v1';
		var applicationPath = '';
		var mapPath = function (src) {
			return resourcesPath + src + resourcesVersion;
		};

	block scripts
		//- Scripts
		script(src="/Content/scripts/jquery-3.3.1.min.js")
