head
	meta(http-equiv="Content-Type", content="text/html charset=utf-8")
	meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover")
	meta(name="description", content="Navidad Cinépolis")
	meta(name="author", content="IA Interactive")
	title Sistema de Horarios

	script.
		var resourcesPath = '';
		var resourcesVersion = '?=v1';
		var applicationPath = '';
		var mapPath = function (src) {
			return resourcesPath + src + resourcesVersion;
		};

	link(href="/Content/css/master.css", rel="stylesheet", type="text/css")
	link(href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i&display=swap",  rel="stylesheet")
