doctype html
html(lang="es-MX")
	include _head

	body.ap.ap--is-loading
		main.ap-main
			block content

			block insideModals

			//- Global modalboxes

		//- SVG
		include ../partials/part.master/part.svg.pug

		block scripts
			//- Scripts
			script(src="/Content/scripts/jquery-3.3.1.min.js")
			script(src="/Content/scripts/vendors.min.js")
			script(src="/Content/scripts/actions.js")

		block insideScripts
