.ps-container.ps-active-x > .ps-scrollbar-x-rail,
.ps-container.ps-active-y > .ps-scrollbar-y-rail {
	display: block;
}
.ps-container > .ps-scrollbar-y-rail {
	background-color: rgba($fontBase, 0.2);
	display: none;
	filter: none;
	opacity: 1;
	position: absolute;
	right: 3px;
	width: 0.5em;
}
.ps-container > .ps-scrollbar-y-rail > .ps-scrollbar-y {
	background-color: rgba(#fff, 0.75);
	border-radius: 0.5em;
	position: absolute;
	transition: background-color 0.2s linear 0s;
	width: 0.5em;
}
.ps-container:hover > .ps-scrollbar-x-rail,
.ps-container:hover > .ps-scrollbar-y-rail {
	opacity: 1;
}
.ps-container > .ps-scrollbar-x-rail.in-scrolling,
.ps-container > .ps-scrollbar-y-rail.in-scrolling,
.ps-container:hover > .ps-scrollbar-x-rail.in-scrolling,
.ps-container:hover > .ps-scrollbar-y-rail.in-scrolling {
	background-color: #000;
	opacity: 1;
}
.ps-container:hover > .ps-scrollbar-x-rail:hover,
.ps-container:hover > .ps-scrollbar-y-rail:hover {
	opacity: 0.1;
}
