extend ../layout/_layout

block content
	header.ap-ui-header
		h2.ap-ttt Ui Guide

	section.ap-ui-settings
		article.ap-ui-area.ap-ui-area--colors
			h2.ap-ttt-ui Colors

			div.ap-flx
				.ap-elm-color
					span.color.palette-base
					p.ap-txt $base
				.ap-elm-color
					span.color.palette-baseLgt
					p.ap-txt $baseDrk
				.ap-elm-color
					span.color.palette-red
					p.ap-txt $red
				.ap-elm-color
					span.color.palette-redDrk
					p.ap-txt $redDark
				.ap-elm-color
					span.color.palette-fontBase
					p.ap-txt $fontBase
				.ap-elm-color
					span.color.palette-fontSubase
					p.ap-txt $fontSubase

		article.ap-ui-area.ap-ui-area--textStyles
			h2.ap-ttt-ui Text Styles

			h1.ap-t Sistema de Horarios
			h2.ap-tt ¡Oh, Oh!
			h3.ap-ttt Instrucciones

			p.ap-txt Lorem ipsum dolor sit amet numquam iste assumenda ex pariatur illum nesciunt nam ad adipisci vel totam odit?
			p.ap-txt Gerry is such a #[strong.ap-txt--strong nice Guy.]
			p.ap-txt Gerry is such a #[strong.ap-txt--link nice Guy.] Here is his web site:
				a.ap-txt--link(href="#")  gerry.com

		article.ap-ui-area.ap-ui-area--buttons
			h2.ap-ttt-ui Buttons
			div.ap-ui-flx
				nav
					a.ap-btn.ap-btn--red(href="") Entrar
					a.ap-btn.ap-btn--red.ap-btn--hover(href="") Entrar
					a.ap-btn.ap-btn--red.ap-btn--pressed(href="") Entrar
					a.ap-btn.ap-btn--red.ap-btn--disabled(href="") Entrar

				nav
					a.ap-btn.ap-btn--blue(href="") Salir
					a.ap-btn.ap-btn--blue.ap-btn--hover(href="") Salir
					a.ap-btn.ap-btn--blue.ap-btn--pressed(href="") Salir
					a.ap-btn.ap-btn--blue.ap-btn--disabled(href="") Salir

				a.ap-txt--link(href="#")
					| Confluence

		article.ap-ui-area.ap-ui-area--svg
			h2.ap-ttt-ui SVG icons

			svg.icon
				use(xlink:href="#logo-ia")

			svg.icon
				use(xlink:href="#logo-ia-white")


