body {
	overflow: hidden;
}
.ap-sis {
	// display: none;
	overflow: hidden;
	// position: relative;
	* {
		box-sizing: border-box;
		outline: none;
	}
	p {
		margin: 0;
	}
	// Clock
	&-clock {
		width: 100%;

		.cls-1,
		.cls-2 {
			fill: #fff;
		}
		.cls-2 {
			fill-rule: evenodd;
		}
		.cls-3 {
			fill: #ff3f26;
		}
		.cls-4 {
			mask: url(#mask);
		}
		.cls-5 {
			fill: hsl(222, 37%, 51%);
		}
	}

	// Button
	&-btn {
		width: 2em;
		height: 2.4em;
		display: block;
		position: absolute;
		bottom: 1em;
		right: 1em;
		font-size: 1.6em;
		border-radius: 10em;
		padding: 8px;
		box-shadow: 0 -0.8px 3.4px -19px rgba(0, 0, 0, 0.219),
			0 1.4px 8.2px -19px rgba(0, 0, 0, 0.333),
			0 7.8px 15.4px -19px rgba(0, 0, 0, 0.422),
			0 20.3px 27.5px -19px rgba(0, 0, 0, 0.503),
			0 43.1px 51.4px -19px rgba(0, 0, 0, 0.583),
			0 92px 123px -19px rgba(0, 0, 0, 0.7);

		// transform: translateY(100px);

		// &-txt {
		// 	position: absolute;
		// 	display: block;
		// 	left: -16px;
		// 	right: -16px;
		// 	top: -16px;
		// 	bottom: -16px;
		// }
	}

	&-widget {
		width: 32em;
		position: absolute;
		bottom: 1em;
		right: 1em;
		transform: translateY(120%);
		opacity: 0;
		box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.02),
			0 6.7px 5.3px rgba(0, 0, 0, 0.028), 0 12.5px 10px rgba(0, 0, 0, 0.035),
			0 22.3px 17.9px rgba(0, 0, 0, 0.042), 0 41.8px 33.4px rgba(0, 0, 0, 0.05),
			0 100px 80px rgba(0, 0, 0, 0.07);
	}

	&-area {
		background-color: #fff;
		width: 100%;
		padding: 1em;
	}

	&-timeiddle {
		display: none;
	}

	&-timeentry {
		opacity: 0;
		transform: translateY(-16px);
	}
}
